extends _layout.pug
block locals
 - var title = 'インデックス'
block content
  h1 HelloWorld
  div#root
  div#root2
  input(type="text" placeholder="入力してください")
  .main-image
    img.icon(src="../images/original.png")
