extends _layout.pug
block locals
 - var title = 'インデックス'
block content
  h1 ハローワールド
  div#root
  img(src="../images/original.png")
  input(type="text" placeholder="AAA")
  img(src="../images/original.jpg")
