extends _layout.pug
block locals
 - var title = 'インデックス'
block content
  h1 ハローワールド
  div#container
    div#root
    div#root2
    div#image1
      img(src="../images/original.png")
    input(type="text" placeholder="AAA")
    div#image2
      img(src="../images/original.jpg")
